In [1]:
import pickle 
import joblib 
import pandas as pd 
from sklearn.preprocessing import StandardScaler
pd.options.mode.chained_assignment = None
from sklearn.exceptions import FitFailedWarning
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
mdl = joblib.load('bank_loan_Mod.pkl')

In [3]:
t = pd.read_csv('credit_test.csv')
t

,Loan ID,Customer ID,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,f738779f-c726-40dc-92cf-689d73af533d,ded0b3c3-6bf4-4091-8726-47039f2c1b90,611314.0,Short Term,747.0,2074116.0,10+ years,Home Mortgage,Debt Consolidation,42000.83,21.8,NaN,9.0,0.0,621908.0,1058970.0,0.0,0.0
1,6dcc0947-164d-476c-a1de-3ae7283dde0a,1630e6e3-34e3-461a-8fda-09297d3140c8,266662.0,Short Term,734.0,1919190.0,10+ years,Home Mortgage,Debt Consolidation,36624.40,19.4,NaN,11.0,0.0,679573.0,904442.0,0.0,0.0
2,f7744d01-894b-49c3-8777-fc6431a2cff1,2c60938b-ad2b-4702-804d-eeca43949c52,153494.0,Short Term,709.0,871112.0,2 years,Rent,Debt Consolidation,8391.73,12.5,10.0,10.0,0.0,38532.0,388036.0,0.0,0.0
3,83721ffb-b99a-4a0f-aea5-ef472a138b41,12116614-2f3c-4d16-ad34-d92883718806,176242.0,Short Term,727.0,780083.0,10+ years,Rent,Debt Consolidation,16771.87,16.5,27.0,16.0,1.0,156940.0,531322.0,1.0,0.0
4,08f3789f-5714-4b10-929d-e1527ab5e5a3,39888105-fd5f-4023-860a-30a3e6f5ccb7,321992.0,Short Term,744.0,1761148.0,10+ years,Home Mortgage,Debt Consolidation,39478.77,26.0,44.0,14.0,0.0,359765.0,468072.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10350,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10352,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
t.drop(labels=['Loan ID', 'Customer ID'], axis=1, inplace=True)
t.drop(labels=['Months since last delinquent'], axis=1, inplace=True)

In [5]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10353 entries, 0 to 10352
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Current Loan Amount        10000 non-null  float64
 1   Term                       10000 non-null  object
 2   Credit Score               8019 non-null   float64
 3   Annual Income              8019 non-null   float64
 4   Years in current job       9573 non-null   object
 5   Home Ownership             10000 non-null  object
 6   Purpose                    10000 non-null  object
 7   Monthly Debt               10000 non-null  float64
 8   Years of Credit History    10000 non-null  float64
 9   Number of Open Accounts    10000 non-null  float64
 10  Number of Credit Problems  10000 non-null  float64
 11  Current Credit Balance     10000 non-null  float64
 12  Maximum Open Credit        10000 non-null  float64
 13  Bankruptcies               9978 non-null   float64
 14  Tax Liens                  9999 non-null   float64
dtypes: float64(11), object(4)
memory usage: 1.2+ MB

In [6]:
t.drop(t.tail(353).index, inplace=True)

In [7]:
t=t.dropna()

In [8]:
t['Credit Score'] = t['Credit Score'].apply(lambda val: (val /10) if val>850 else val)

In [9]:
t['Years in current job']=t['Years in current job'].str.extract("(\d+)")
t['Years in current job'] = t['Years in current job'].astype(float)

In [10]:
t['Employment History'] = t['Years in current job'].apply(lambda
x: "Junior" if x<4 else ("Semi-Senior" if x>4 and x<8 else "Senior"))

In [11]:
t.drop(labels=['Years in current job'], axis=1, inplace=True)

In [12]:
#t['Home Ownership'].replace({'Home Mortgage':'Own Home'},inplace=True)
t['Home Ownership'].replace({'HaveMortgage':'Home Mortgage'},inplace=True)

In [13]:
t['Purpose'].replace({'other':'Other'},inplace=True)

In [14]:
t['Tax Liens'] = t['Tax Liens'].apply(lambda x: "No Tax Lien" if
x==0 else "Some Tax Liens")

In [15]:
t['Bankruptcies'] =t['Bankruptcies'].apply(lambda x: "No Bankruptcies" if x==0 else "Some Bankruptcies")

In [16]:
t['Credit Problems'] = t['Number of Credit Problems'].apply(lambda x: "No Credit Problem" if x==0 else "Some Credit problem")

In [18]:
t['Credit Age'] = t['Years of Credit History'].apply(lambda x: "Short Credit Age" if x<5 else ("Good Credit Age" if x>=5 and x<17 else
"Exceptional Credit Age"))

In [19]:
t.drop(labels=['Years of Credit History'], axis=1, inplace=True)

In [20]:
t.drop(labels=['Number of Credit Problems'], axis=1, inplace=True)

In [21]:
for i in t['Current Loan Amount'][t['Current Loan Amount'] == 99999999.0 ].index:
     t.drop(labels=i, inplace=True)

In [22]:
t.drop(labels=['Number of Open Accounts'], axis=1, inplace=True)
t.drop(labels=['Current Credit Balance'], axis=1, inplace=True)
t.drop(labels=['Maximum Open Credit'], axis=1, inplace=True)
t.drop(labels=['Monthly Debt'], axis=1, inplace=True)

In [23]:
t

,Current Loan Amount,Term,Credit Score,Annual Income,Home Ownership,Purpose,Bankruptcies,Tax Liens,Employment History,Credit Problems,Credit Age
0,611314.0,Short Term,747.0,2074116.0,Home Mortgage,Debt Consolidation,No Bankruptcies,No Tax Lien,Senior,No Credit Problem,Exceptional Credit Age
1,266662.0,Short Term,734.0,1919190.0,Home Mortgage,Debt Consolidation,No Bankruptcies,No Tax Lien,Senior,No Credit Problem,Exceptional Credit Age
2,153494.0,Short Term,709.0,871112.0,Rent,Debt Consolidation,No Bankruptcies,No Tax Lien,Junior,No Credit Problem,Good Credit Age
3,176242.0,Short Term,727.0,780083.0,Rent,Debt Consolidation,Some Bankruptcies,No Tax Lien,Senior,Some Credit problem,Good Credit Age
4,321992.0,Short Term,744.0,1761148.0,Home Mortgage,Debt Consolidation,No Bankruptcies,No Tax Lien,Senior,No Credit Problem,Exceptional Credit Age
...,...,...,...,...,...,...,...,...,...,...,...
9992,428604.0,Long Term,697.0,2183043.0,Home Mortgage,Debt Consolidation,No Bankruptcies,No Tax Lien,Semi-Senior,No Credit Problem,Exceptional Credit Age
9993,220858.0,Short Term,737.0,1234088.0,Rent,Debt Consolidation,No Bankruptcies,No Tax Lien,Junior,No Credit Problem,Good Credit Age
9994,442596.0,Short Term,739.0,1528968.0,Home Mortgage,Debt Consolidation,No Bankruptcies,No Tax Lien,Semi-Senior,No Credit Problem,Good Credit Age
9995,157806.0,Short Term,731.0,1514376.0,Rent,Debt Consolidation,No Bankruptcies,No Tax Lien,Semi-Senior,No Credit Problem,Good Credit Age
9996,132550.0,Short Term,718.0,763192.0,Home Mortgage,Debt Consolidation,No Bankruptcies,No Tax Lien,Senior,No Credit Problem,Good Credit Age

In [23]:
# # Encoding categorical data & Feature Scaling

# Select the categorical columns
categorical_subset1 = t[['Term', 'Employment History', 'Home Ownership', 'Purpose','Credit Problems','Bankruptcies','Credit Age','Tax Liens']]
# One hot encode
categorical_subset1 = pd.get_dummies(categorical_subset1)

# Join the dataframe in credit_train
# Make sure to use axis = 1 to perform a column bind
# First I will drop the 'old' categorical datas and after I will join the 'new' one.

t.drop(labels=['Term', 'Employment History', 'Home Ownership', 'Purpose','Credit Problems','Bankruptcies','Credit Age','Tax Liens']
, axis=1, inplace=True)
t = pd.concat([t, categorical_subset1], axis = 1)

In [24]:
t

,Current Loan Amount,Credit Score,Annual Income,Term_Long Term,Term_Short Term,Employment History_Junior,Employment History_Semi-Senior,Employment History_Senior,Home Ownership_Home Mortgage,Home Ownership_Own Home,...,Purpose_wedding,Credit Problems_No Credit Problem,Credit Problems_Some Credit promblem,Bankruptcies_No Bankruptcies,Bankruptcies_Some Bankruptcies,Credit Age_Exceptional Credit Age,Credit Age_Good Credit Age,Credit Age_Short Credit Age,Tax Liens_No Tax Lien,Tax Liens_Some Tax Liens
0,611314.0,747.0,2074116.0,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
1,266662.0,734.0,1919190.0,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
2,153494.0,709.0,871112.0,0,1,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
3,176242.0,727.0,780083.0,0,1,0,0,1,0,0,...,0,0,1,0,1,0,1,0,1,0
4,321992.0,744.0,1761148.0,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,428604.0,697.0,2183043.0,1,0,0,1,0,1,0,...,0,1,0,1,0,1,0,0,1,0
9993,220858.0,737.0,1234088.0,0,1,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
9994,442596.0,739.0,1528968.0,0,1,0,1,0,1,0,...,0,1,0,1,0,0,1,0,1,0
9995,157806.0,731.0,1514376.0,0,1,0,1,0,0,0,...,0,1,0,1,0,0,1,0,1,0
9996,132550.0,718.0,763192.0,0,1,0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0

In [25]:
t.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6575 entries, 0 to 9996
Data columns (total 35 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Current Loan Amount                   6575 non-null   float64
 1   Credit Score                          6575 non-null   float64
 2   Annual Income                         6575 non-null   float64
 3   Term_Long Term                        6575 non-null   uint8
 4   Term_Short Term                       6575 non-null   uint8
 5   Employment History_Junior             6575 non-null   uint8
 6   Employment History_Semi-Senior        6575 non-null   uint8
 7   Employment History_Senior             6575 non-null   uint8
 8   Home Ownership_Home Mortgage          6575 non-null   uint8
 9   Home Ownership_Own Home               6575 non-null   uint8
 10  Home Ownership_Rent                   6575 non-null   uint8
 11  Purpose_Business Loan                 6575 non-null   uint8
 12  Purpose_Buy House                     6575 non-null   uint8
 13  Purpose_Buy a Car                     6575 non-null   uint8
 14  Purpose_Debt Consolidation            6575 non-null   uint8
 15  Purpose_Educational Expenses          6575 non-null   uint8
 16  Purpose_Home Improvements             6575 non-null   uint8
 17  Purpose_Medical Bills                 6575 non-null   uint8
 18  Purpose_Other                         6575 non-null   uint8
 19  Purpose_Take a Trip                   6575 non-null   uint8
 20  Purpose_major_purchase                6575 non-null   uint8
 21  Purpose_moving                        6575 non-null   uint8
 22  Purpose_renewable_energy              6575 non-null   uint8
 23  Purpose_small_business                6575 non-null   uint8
 24  Purpose_vacation                      6575 non-null   uint8
 25  Purpose_wedding                       6575 non-null   uint8
 26  Credit Problems_No Credit Problem     6575 non-null   uint8
 27  Credit Problems_Some Credit promblem  6575 non-null   uint8
 28  Bankruptcies_No Bankruptcies          6575 non-null   uint8
 29  Bankruptcies_Some Bankruptcies        6575 non-null   uint8
 30  Credit Age_Exceptional Credit Age     6575 non-null   uint8
 31  Credit Age_Good Credit Age            6575 non-null   uint8
 32  Credit Age_Short Credit Age           6575 non-null   uint8
 33  Tax Liens_No Tax Lien                 6575 non-null   uint8
 34  Tax Liens_Some Tax Liens              6575 non-null   uint8
dtypes: float64(3), uint8(32)
memory usage: 410.9 KB

In [26]:
sc = StandardScaler()

In [27]:
t_test = sc.fit_transform(t)

In [28]:
t_test

array([[ 1.58935763,  1.12084395,  0.77797106, ..., -0.03902857,
         0.1334236 , -0.1334236 ],
       [-0.25798493,  0.6644273 ,  0.60292592, ..., -0.03902857,
         0.1334236 , -0.1334236 ],
       [-0.86456798, -0.21329702, -0.58125856, ..., -0.03902857,
         0.1334236 , -0.1334236 ],
       ...,
       [ 0.68502531,  0.83997217,  0.16202855, ..., -0.03902857,
         0.1334236 , -0.1334236 ],
       [-0.84145557,  0.55910038,  0.14554159, ..., -0.03902857,
         0.1334236 , -0.1334236 ],
       [-0.9768283 ,  0.10268373, -0.70319336, ..., -0.03902857,
         0.1334236 , -0.1334236 ]])

In [29]:
t_pred = mdl.predict(t_test)

In [30]:
t_pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [31]:
#t_pred = (t_pred>0.58)

In [32]:
t_pred

array([1, 1, 1, ..., 1, 1, 1], dtype=int64)

In [33]:
val = pd.DataFrame(t_pred,columns=['Loan Status'])

In [34]:
val

      Loan Status
0               1
1               1
2               1
3               1
4               1
...           ...
6570            1
6571            1
6572            1
6573            1
6574            1

[6575 rows x 1 columns]

In [35]:
val[val['Loan Status']== False]

      Loan Status
8               0
15              0
18              0
21              0
22              0
...           ...
6555            0
6560            0
6565            0
6568            0
6569            0

[1488 rows x 1 columns]

In [36]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [37]:
t.iloc[16]

Current Loan Amount                     334620.0
Credit Score                               740.0
Annual Income                           963300.0
Term_Long Term                               0.0
Term_Short Term                              1.0
Employment History_Junior                    0.0
Employment History_Semi-Senior               0.0
Employment History_Senior                    1.0
Home Ownership_Home Mortgage                 1.0
Home Ownership_Own Home                      0.0
Home Ownership_Rent                          0.0
Purpose_Business Loan                        0.0
Purpose_Buy House                            0.0
Purpose_Buy a Car                            0.0
Purpose_Debt Consolidation                   1.0
Purpose_Educational Expenses                 0.0
Purpose_Home Improvements                    0.0
Purpose_Medical Bills                        0.0
Purpose_Other                                0.0
Purpose_Take a Trip                          0.0
Purpose_major_purchase                       0.0
Purpose_moving                               0.0
Purpose_renewable_energy                     0.0
Purpose_small_business                       0.0
Purpose_vacation                             0.0
Purpose_wedding                              0.0
Credit Problems_No Credit Problem            1.0
Credit Problems_Some Credit promblem         0.0
Bankruptcies_No Bankruptcies                 1.0
Bankruptcies_Some Bankruptcies               0.0
Credit Age_Exceptional Credit Age            0.0
Credit Age_Good Credit Age                   1.0
Credit Age_Short Credit Age                  0.0
Tax Liens_No Tax Lien                        1.0
Tax Liens_Some Tax Liens                     0.0
Name: 23, dtype: float64

In [38]:
val.iloc[[23]]

    Loan Status
23            0

In [39]:
t.head(60)

,Current Loan Amount,Credit Score,Annual Income,Term_Long Term,Term_Short Term,Employment History_Junior,Employment History_Semi-Senior,Employment History_Senior,Home Ownership_Home Mortgage,Home Ownership_Own Home,...,Purpose_wedding,Credit Problems_No Credit Problem,Credit Problems_Some Credit promblem,Bankruptcies_No Bankruptcies,Bankruptcies_Some Bankruptcies,Credit Age_Exceptional Credit Age,Credit Age_Good Credit Age,Credit Age_Short Credit Age,Tax Liens_No Tax Lien,Tax Liens_Some Tax Liens
0,611314.0,747.0,2074116.0,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
1,266662.0,734.0,1919190.0,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
2,153494.0,709.0,871112.0,0,1,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
3,176242.0,727.0,780083.0,0,1,0,0,1,0,0,...,0,0,1,0,1,0,1,0,1,0
4,321992.0,744.0,1761148.0,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
5,202928.0,741.0,760380.0,0,1,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
6,621786.0,733.0,1783606.0,1,0,0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0
8,202466.0,736.0,1068617.0,0,1,0,1,0,0,0,...,0,1,0,1,0,1,0,0,1,0
9,266288.0,683.0,2031518.0,1,0,1,0,0,0,0,...,0,0,1,0,1,1,0,0,1,0
11,258104.0,723.0,1284514.0,0,1,0,1,0,0,0,...,0,1,0,1,0,0,1,0,1,0
12,161722.0,680.0,504374.0,0,1,0,1,0,0,0,...,0,1,0,1,0,0,1,0,1,0
15,172282.0,696.0,669560.0,0,1,1,0,0,1,0,...,0,1,0,1,0,1,0,0,1,0
16,275440.0,729.0,1236976.0,0,1,0,1,0,0,0,...,0,1,0,1,0,1,0,0,1,0
17,218834.0,742.0,1077262.0,0,1,1,0,0,0,1,...,0,1,0,1,0,1,0,0,1,0
20,346610.0,744.0,2245116.0,0,1,1,0,0,1,0,...,0,1,0,1,0,1,0,0,1,0
22,219648.0,722.0,682898.0,1,0,0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0
23,334620.0,740.0,963300.0,0,1,0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0
24,219868.0,736.0,683582.0,0,1,0,1,0,0,1,...,0,1,0,1,0,0,1,0,1,0
25,222816.0,708.0,990185.0,1,0,0,0,1,1,0,...,0,0,1,0,1,1,0,0,1,0
27,108152.0,705.0,747156.0,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,0,1,0
30,360228.0,740.0,2138906.0,0,1,0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0
32,441012.0,738.0,979716.0,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,0,1,0
33,337370.0,717.0,1146004.0,1,0,1,0,0,0,0,...,0,1,0,1,0,1,0,0,1,0
34,765688.0,706.0,5951484.0,1,0,1,0,0,0,0,...,0,1,0,1,0,1,0,0,1,0
35,468908.0,647.0,1833842.0,1,0,0,0,1,0,0,...,0,0,1,0,1,0,1,0,1,0
37,574904.0,706.0,1306592.0,0,1,0,0,1,0,0,...,0,1,0,1,0,0,1,0,1,0
38,401192.0,704.0,1539912.0,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,0,1,0
39,257444.0,736.0,648508.0,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,0,1,0
44,262108.0,733.0,855342.0,0,1,0,1,0,0,0,...,0,1,0,1,0,1,0,0,1,0
47,414744.0,706.0,1164225.0,0,1,0,0,1,0,0,...,0,1,0,1,0,0,1,0,1,0
48,654126.0,646.0,2504504.0,1,0,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
49,539990.0,682.0,1790807.0,1,0,1,0,0,1,0,...,0,0,1,0,1,1,0,0,1,0
51,316426.0,717.0,683183.0,1,0,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
52,473902.0,713.0,1042511.0,1,0,0,1,0,1,0,...,0,1,0,1,0,0,1,0,1,0
53,223344.0,716.0,1195898.0,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,0,1,0
54,766238.0,649.0,1796165.0,1,0,1,0,0,0,0,...,0,1,0,1,0,1,0,0,1,0
55,471152.0,688.0,1017279.0,1,0,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
56,563486.0,747.0,2647308.0,0,1,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
57,219824.0,702.0,2088328.0,1,0,1,0,0,1,0,...,0,0,1,0,1,1,0,0,1,0
58,304986.0,674.0,4872778.0,1,0,1,0,0,0,0,...,0,1,0,1,0,1,0,0,1,0
59,105666.0,742.0,806170.0,1,0,0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0
61,253506.0,733.0,1403492.0,1,0,0,0,1,0,0,...,0,1,0,1,0,1,0,0,1,0
62,170126.0,712.0,1137492.0,0,1,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
63,134398.0,746.0,2205425.0,0,1,0,0,1,0,1,...,0,1,0,1,0,1,0,0,1,0
64,442948.0,719.0,956365.0,1,0,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
65,142868.0,740.0,2429815.0,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,0,1,0
66,332508.0,707.0,926345.0,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
67,235950.0,726.0,1164396.0,0,1,0,1,0,0,1,...,0,1,0,1,0,0,1,0,1,0
68,290708.0,744.0,1487776.0,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,0,1,0
69,153714.0,740.0,995714.0,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
70,69366.0,731.0,1273133.0,0,1,1,0,0,0,0,...,0,1,0,1,0,1,0,0,1,0
71,108878.0,751.0,1316434.0,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
72,288068.0,685.0,948062.0,1,0,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
73,447436.0,722.0,1159266.0,1,0,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
74,401192.0,721.0,1116440.0,0,1,0,0,1,0,0,...,0,1,0,1,0,0,1,0,1,0
76,168124.0,711.0,967955.0,0,1,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
77,306460.0,652.0,3503106.0,1,0,0,1,0,0,0,...,0,1,0,1,0,0,1,0,1,0
78,657162.0,740.0,3783660.0,0,1,1,0,0,1,0,...,0,1,0,1,0,0,1,0,1,0
79,314072.0,748.0,627722.0,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,0,1,0
80,763686.0,740.0,2581663.0,1,0,1,0,0,0,0,...,0,1,0,1,0,1,0,0,1,0

In [40]:
#x = mdl.predict(data)

In [41]:
#t.to_excel('testModel.xlsx')

In [42]:
#tt = pd.read_excel('testM.xlsx')

In [43]:
#tt

In [44]:
#tt.info()

In [45]:
t

,Current Loan Amount,Credit Score,Annual Income,Term_Long Term,Term_Short Term,Employment History_Junior,Employment History_Semi-Senior,Employment History_Senior,Home Ownership_Home Mortgage,Home Ownership_Own Home,...,Purpose_wedding,Credit Problems_No Credit Problem,Credit Problems_Some Credit promblem,Bankruptcies_No Bankruptcies,Bankruptcies_Some Bankruptcies,Credit Age_Exceptional Credit Age,Credit Age_Good Credit Age,Credit Age_Short Credit Age,Tax Liens_No Tax Lien,Tax Liens_Some Tax Liens
0,611314.0,747.0,2074116.0,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
1,266662.0,734.0,1919190.0,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
2,153494.0,709.0,871112.0,0,1,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
3,176242.0,727.0,780083.0,0,1,0,0,1,0,0,...,0,0,1,0,1,0,1,0,1,0
4,321992.0,744.0,1761148.0,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9992,428604.0,697.0,2183043.0,1,0,0,1,0,1,0,...,0,1,0,1,0,1,0,0,1,0
9993,220858.0,737.0,1234088.0,0,1,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
9994,442596.0,739.0,1528968.0,0,1,0,1,0,1,0,...,0,1,0,1,0,0,1,0,1,0
9995,157806.0,731.0,1514376.0,0,1,0,1,0,0,0,...,0,1,0,1,0,0,1,0,1,0
9996,132550.0,718.0,763192.0,0,1,0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0

In [48]:
t.head(30)

,Current Loan Amount,Credit Score,Annual Income,Term_Long Term,Term_Short Term,Employment History_Junior,Employment History_Semi-Senior,Employment History_Senior,Home Ownership_Home Mortgage,Home Ownership_Own Home,...,Purpose_wedding,Credit Problems_No Credit Problem,Credit Problems_Some Credit promblem,Bankruptcies_No Bankruptcies,Bankruptcies_Some Bankruptcies,Credit Age_Exceptional Credit Age,Credit Age_Good Credit Age,Credit Age_Short Credit Age,Tax Liens_No Tax Lien,Tax Liens_Some Tax Liens
0,611314.0,747.0,2074116.0,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
1,266662.0,734.0,1919190.0,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
2,153494.0,709.0,871112.0,0,1,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
3,176242.0,727.0,780083.0,0,1,0,0,1,0,0,...,0,0,1,0,1,0,1,0,1,0
4,321992.0,744.0,1761148.0,0,1,0,0,1,1,0,...,0,1,0,1,0,1,0,0,1,0
5,202928.0,741.0,760380.0,0,1,1,0,0,0,0,...,0,1,0,1,0,0,1,0,1,0
6,621786.0,733.0,1783606.0,1,0,0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0
8,202466.0,736.0,1068617.0,0,1,0,1,0,0,0,...,0,1,0,1,0,1,0,0,1,0
9,266288.0,683.0,2031518.0,1,0,1,0,0,0,0,...,0,0,1,0,1,1,0,0,1,0
11,258104.0,723.0,1284514.0,0,1,0,1,0,0,0,...,0,1,0,1,0,0,1,0,1,0
12,161722.0,680.0,504374.0,0,1,0,1,0,0,0,...,0,1,0,1,0,0,1,0,1,0
15,172282.0,696.0,669560.0,0,1,1,0,0,1,0,...,0,1,0,1,0,1,0,0,1,0
16,275440.0,729.0,1236976.0,0,1,0,1,0,0,0,...,0,1,0,1,0,1,0,0,1,0
17,218834.0,742.0,1077262.0,0,1,1,0,0,0,1,...,0,1,0,1,0,1,0,0,1,0
20,346610.0,744.0,2245116.0,0,1,1,0,0,1,0,...,0,1,0,1,0,1,0,0,1,0
22,219648.0,722.0,682898.0,1,0,0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0
23,334620.0,740.0,963300.0,0,1,0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0
24,219868.0,736.0,683582.0,0,1,0,1,0,0,1,...,0,1,0,1,0,0,1,0,1,0
25,222816.0,708.0,990185.0,1,0,0,0,1,1,0,...,0,0,1,0,1,1,0,0,1,0
27,108152.0,705.0,747156.0,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,0,1,0
30,360228.0,740.0,2138906.0,0,1,0,0,1,1,0,...,0,1,0,1,0,0,1,0,1,0
32,441012.0,738.0,979716.0,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,0,1,0
33,337370.0,717.0,1146004.0,1,0,1,0,0,0,0,...,0,1,0,1,0,1,0,0,1,0
34,765688.0,706.0,5951484.0,1,0,1,0,0,0,0,...,0,1,0,1,0,1,0,0,1,0
35,468908.0,647.0,1833842.0,1,0,0,0,1,0,0,...,0,0,1,0,1,0,1,0,1,0
37,574904.0,706.0,1306592.0,0,1,0,0,1,0,0,...,0,1,0,1,0,0,1,0,1,0
38,401192.0,704.0,1539912.0,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,0,1,0
39,257444.0,736.0,648508.0,0,1,0,0,1,0,0,...,0,1,0,1,0,1,0,0,1,0
44,262108.0,733.0,855342.0,0,1,0,1,0,0,0,...,0,1,0,1,0,1,0,0,1,0
47,414744.0,706.0,1164225.0,0,1,0,0,1,0,0,...,0,1,0,1,0,0,1,0,1,0

In [49]:
val.iloc[8]

Loan Status    0
Name: 8, dtype: int64

In [52]:
t.iloc[8]

Current Loan Amount                      266288.0
Credit Score                                683.0
Annual Income                           2031518.0
Term_Long Term                                1.0
Term_Short Term                               0.0
Employment History_Junior                     1.0
Employment History_Semi-Senior                0.0
Employment History_Senior                     0.0
Home Ownership_Home Mortgage                  0.0
Home Ownership_Own Home                       0.0
Home Ownership_Rent                           1.0
Purpose_Business Loan                         0.0
Purpose_Buy House                             0.0
Purpose_Buy a Car                             0.0
Purpose_Debt Consolidation                    1.0
Purpose_Educational Expenses                  0.0
Purpose_Home Improvements                     0.0
Purpose_Medical Bills                         0.0
Purpose_Other                                 0.0
Purpose_Take a Trip                           0.0
Purpose_major_purchase                        0.0
Purpose_moving                                0.0
Purpose_renewable_energy                      0.0
Purpose_small_business                        0.0
Purpose_vacation                              0.0
Purpose_wedding                               0.0
Credit Problems_No Credit Problem             0.0
Credit Problems_Some Credit promblem          1.0
Bankruptcies_No Bankruptcies                  0.0
Bankruptcies_Some Bankruptcies                1.0
Credit Age_Exceptional Credit Age             1.0
Credit Age_Good Credit Age                    0.0
Credit Age_Short Credit Age                   0.0
Tax Liens_No Tax Lien                         1.0
Tax Liens_Some Tax Liens                      0.0
Name: 9, dtype: float64